<div class="card">
  <div class="card-body">
    <h5 class="card-title card-header">User Regisration</h5>
    <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="addtab" (navChange)="tabChange()">
      <li ngbNavItem="addtab">
        <a ngbNavLink>Add User</a>
        <ng-template ngbNavContent>
          <form [formGroup]="addform" (ngSubmit)="register()" style="padding-top:18px">
            <div class="row mb-2">
              <div class="form-group col">
                <label>Title</label>
                <select class="form-control" formControlName="title"
                  [ngClass]="{'is-invalid' : submitted && ctrl['title'].errors }">
                  <option value="">-- Select Title --</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted && ctrl['title'].errors">
                  <div *ngIf="ctrl['title'].errors['required']">
                    Title is required !!
                  </div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName"
                  [ngClass]="{'is-invalid' : submitted && ctrl['firstName'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['firstName'].errors">
                  <div *ngIf="ctrl['firstName'].errors['required']">
                    First Name is required !!
                  </div>
                  <div *ngIf="ctrl['firstName'].errors['minlength']">
                    First Name should be 3 char long !!
                  </div>
                  <div *ngIf="ctrl['firstName'].errors['maxlength']">
                    First Name should be max 10 char long !!
                  </div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName"
                  [ngClass]="{'is-invalid' : submitted && ctrl['lastName'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['lastName'].errors">
                  <div *ngIf="ctrl['lastName'].errors['required']">
                    Last Name is required !!
                  </div>
                  <div *ngIf="ctrl['lastName'].errors['minlength']">
                    Last Name should be 3 char long !!
                  </div>
                  <div *ngIf="ctrl['lastName'].errors['maxlength']">
                    Last Name should be max 10 char long !!
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="form-group col-5">
                <label>Date of Birth</label>
                <input type="date" class="form-control" formControlName="dob"
                [ngClass]="{'is-invalid' : submitted && ctrl['dob'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['dob'].errors">
                  <div *ngIf="ctrl['dob'].errors['required']">
                    Date of Birth is required !!
                  </div>
                  <div *ngIf="ctrl['dob'].errors['pattern']">
                    Date of Birth must be a valid date in the format YYYY-MM-DD !!
                  </div>
                </div>
              </div>

              <div class="form-group col-5">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid' : submitted && ctrl['email'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['email'].errors">
                  <div *ngIf="ctrl['email'].errors['required']">
                    Email is required !!
                  </div>
                  <div *ngIf="ctrl['email'].errors['email']">
                    Email must be a valid Email Address !!
                  </div>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="form-group col-5">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password"
                [ngClass]="{'is-invalid' : submitted && ctrl['password'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['password'].errors">
                  <div *ngIf="ctrl['password'].errors['required']">
                    Password is required !!
                  </div>
                  <div *ngIf="ctrl['password'].errors['minlength']">
                    Password must be atleast 6 char long !!
                  </div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmpassword"
                [ngClass]="{'is-invalid' : submitted && ctrl['confirmpassword'].errors }">
                <div class="invalid-feedback" *ngIf="submitted && ctrl['confirmpassword'].errors">
                  <div *ngIf="ctrl['confirmpassword'].errors['required']">
                    confirm password is required !!
                  </div>
                  <div *ngIf="ctrl['confirmpassword'].errors['mustmatch']">
                    Password and confirm password must be same !!
                  </div>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="form-group col form-check">
                <input type="checkbox" class="form-check-input" formControlName="acceptterms"
                [ngClass]="{'is-invalid' : submitted && ctrl['acceptterms'].errors }">
                <label for="acceptterms" class="form-check-label">Accept Terms & Conditions</label>
                <div class="invalid-feedback" *ngIf="submitted && ctrl['acceptterms'].errors">
                  <div *ngIf="ctrl['acceptterms'].errors['required']">
                    Accept terms and conditions is required !!
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="form-group">
                <button type="submit" class="btn btn-success mr-1">{{buttontext}}</button>
                <button type="button" class="btn btn-danger" (click)="resetform()">Cancel</button>
              </div>
            </div>
          </form>
        </ng-template>
      </li>
      <li ngbNavItem="viewtab">
        <a ngbNavLink>Users List</a>
        <ng-template ngbNavContent>
          <div class="form-row" style="padding-top: 18px;">
            <div class="form-group col">
              <table class="table table-bordered">
                <tr>
                  <th>Title</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>DOB</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let data of users">
                  <td>{{data.title}}</td>
                  <td>{{data.firstName}}</td>
                  <td>{{data.lastName}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.dob}}</td>
                  <td>
                    <i class="fa fa-edit mr-1" (click)="edit(data.id)" style="color: green;"></i>
                    <i class="fa fa-trash-o mr-1" (click)="delete(data.id)" style="color: red;"></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</div>